<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <script src = "/moment/min/moment.min.js"></script>
 
    <script type="text/javascript">
       $(document).ready(function(){
            $("#search").hide();
            $(".searchbtn").click(function(){
                $("#search").toggle();
            });
            $("#fromdate").datepicker();
            $("#todate").datepicker();
        });    
    </script>
    <style type="text/css">
    .uk-table-hover tbody tr.act{
    background: #b8e5fd;/*96969A*/
    color: #000;
    }
    </style>
</head>

<body class="sidebar_main_open sidebar_main_swipe">
    <!--Top Header-->
    <% include ../../partials/mainheader %>
    <!--Top Header-->
    <% include ../../partials/sidemenu %>

    <!--Start Content-->
    <div id="page_content">
    <div id="page_content_inner">
        <div class="searchbtn"><i class="uk-icon-search"></i></div>
        <!--Dashboard-->
        <h3 class="heading_b uk-margin-bottom">Alarm Generate</h3>
        <!--End Dashboard-->
        <div class="md-card" id="search">
            <div class="md-card-content">
                <div class="uk-grid uk-dropdown-grid">
                     <div class="uk-width-1-4">
                        <div class="searchlabel">SITE ID</div>
                        <input type="text" class="md-input md-input-success"  name="siteid" id="siteid"  >
                    </div>
                    <div class="uk-width-1-4">
                        <div class="searchlabel">FROM DATE</div>
                        <input type="text" class="md-input md-input-success" placeholder="From Date" name="fromdate" id="fromdate" value="<%= moment().format('MM/DD/YYYY') %>" >
                    </div>
                    <div class="uk-width-1-4">
                            <div class="searchlabel">TO DATE</div>
                               <input type="text" class="md-input md-input-success" placeholder="To Date" name="todate" id="todate" value="<%= moment().format('MM/DD/YYYY') %>" >
                    </div>
                    <div class="uk-width-1-4" style="display:none">
                        <div class="searchlabel"></div>
                        <input type="text" class="md-input md-input-success" placeholder="To Date" name="nextval" id="nextval">
                    </div>
                    <div class="uk-width-1-4" style="display:none">
                        <div class="searchlabel"></div>
                        <input type="text" class="md-input md-input-success"  name="statusvalue" id="statusvalue">
                    </div>
                    <div class="uk-width-1-4" style="margin-top: 20px;">
                        <button  id="searchbtn1" class="md-btn md-btn-success" style="margin-top:0px;">
                         <i class="uk-icon-search white padright"></i>Search</button>
                        <button type="button" class="md-btn md-btn-success" onClick="refreshPage()" style="margin-top:0px;">
                        <i class="uk-icon-refresh white padright"></i>Reset</button>
                    </div>  
                </div> 
            </div>
        </div>

 <!--Hooter-->
    <div class="uk-grid uk-grid-small" id="hooter" style="display:none;">
        <div class="uk-width-1-2">
          <div class="uk-alert" style="background:#FFFCFC;">
           <table>
            <tr>
               <td>
                <div class="uk-alert" id="hooter-info">
                 
                </div>
               </td>
              <td>
                <select class="md-input" id="cmbalarm" style="background:#fff; height: 37px; margin-bottom: 4px;">
                </select>
              </td>
              <td style="text-align:center; ">
                <select class="md-input" id="operation" style="background:#fff; height: 37px; margin-bottom: 4px;">
                    <option value="1">ON</option>
                    <option value="2">OFF</option>
                </select>
              </td> 
              <td style="text-align:center; ">
                <button class="md-btn md-btn-success" style="height: 37px;" onclick="send()">
                      Send
                </button>
              </td> 
           </tr>
           </table>
          </div>
        </div>
        <div class="uk-width-1-2">
          <div class="uk-alert" style="background:#FFFCFC;">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-9-10">
                    <table class="uk-table" id="table-row">
            
                    </table>
                </div>
                <div class="uk-width-1-10">
                    <button class="md-btn md-btn-success" onclick="refresh()" style="height: 37px; ">
                        <i class="uk-icon-refresh white"></i>
                    </button>
                </div>
            </div>    
           
          </div>
        </div>
    </div>  
<!--Hooter-->

        <div class="md-card ">
            <div class="md-card-content">
            <% if(sess_id==1 | sess_id==2){ %>
                <div class="uk-grid uk-grid-collapse" style="display:block">
                    <div class="customer " style="text-align:right; margin-bottom:6px;">
                         Customer
                        <select id="customer_id" name="customer_id"  style="width:100px; display:inline;">
                        </select>
                    </div>
                </div>  
            <% } else{%> 
                <div class="uk-grid uk-grid-small" style="display:none">
                    <div class="uk-width-1-1 " style="text-align:right; margin-bottom:6px;">
                         Customer
                        <input id="customer_id" name="customer_id" type="hidden">
                    </div>
                </div>  
            <% } %>
            <div class="uk-width-1-1" style="text-align:right; margin-bottom:6px;">
                    Rows Per Page
                        <select style="width:50px; display:inline" name="rowsperpageval" id="rowsperpageval">
                                <% for(var i=minRange;i<=maxRange;i=i+stepRange){ %>
                                    <option value=<%= i%>><%= i%></option>
                                <%}%>
                        </select>
                </div>

       
                <div class="uk-overflow-container " id="alarm-tbl">
                </div>
               <ul id="navigation" class="uk-pagination"></ul>
            </div>
        </div>

    </div>
    </div>
    <!--End Content--> 

<!--Start Script-->
<script src="/js/common.min.js"></script>
<script src="/moment/min/moment.min.js"></script>
<script src="/js/uikit_custom.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/altair_admin_common.min.js"></script>
<script src="/js/export.js"></script>

<script>
var ipconfig = {siteid:null,sitename:null,ip_address:null,curl_cmd:null};

function send()
{
    var value = $("#operation").val();
    console.log("ANS:"+value);
    if(value == 1)
    {
        on();
        console.log("success");
    }else{
        off();
        console.log("Failed");
    }
}

/*--Hooter--*/
function on()
{
    $.ajax({
            url: '/common/hooter',
            type:'post',
            cache: false,
            data: {site_id:ipconfig.siteid,hooter_status:$("#cmbalarm").val()+";1",ip_address:ipconfig.ip_address},
            success: function (data){
                console.log("success:"+data);
            }
        });
}

function off(siteid,ip_address)
{
    $.ajax({
            url: '/common/hooter',
            type:'post',
            cache: false,
            data: {site_id:ipconfig.siteid,hooter_status:$("#cmbalarm").val()+";0",ip_address:ipconfig.ip_address},
            success: function (data){
                console.log("success :"+data);
            }
        });
}
/*--Hooter on and off--*/


function refresh(){
    //ipconfig = {siteid:null,sitename:null,ip_address:null};
    console.log("SiteID :"+ipconfig.siteid+" sitename:"+ipconfig.sitename);
    console.log("SiteInfo :"+siteinfo[ipconfig.siteid]);
     //$("#table-row").load("index.html");
    $.ajax({
            url: '/controller/getdata',
            type:'post',
            cache: false,
            data: {site_id:ipconfig.siteid,custid:$("#customer_id").val()},
            success: function (data){
                Refreshrender(data,ipconfig.siteid);
            }
    }); 
}

function Refreshrender(data,sitecode){
        fields = data.fieldnames;
        var colnames = "<tr style='color:#fff'>";
        for(var i=0;i<fields.length;i++){
                if(fields[i].alarmpin_no != 'HealtherrorCode'){
                    if((fields[i].alarmpin_no).match(/Do[0-9]/)){
                        colnames += "<th style='text-align:center; width:50px;' title='"+fields[i].alarmpin_name+"'>"+(fields[i].alarmpin_sc).toUpperCase()+"</th>";
                    }
                }            
        }
        colnames += "</tr>";

        values = data.datas;
        console.log("values=="+JSON.stringify(values));
        if(values != "0"){
                for(var x=0;x<values.length;x++){
                    var sitecode = values[x].Siteid;
                    var ipaddress = (values[x].IP).replace("::ffff:","");
                    
                    rowcontent="<tr>";
                    console.log("FL:"+fields.length);
                    for(var i=0;i<fields.length;i++){
                           var fn = fields[i].alarmpin_sc;
                           var fn1 = fields[i].alarmpin_no; 
                           if(fn1 != 'HealtherrorCode'){
                                if(fn1.match(/Do[0-9]/)){
                                    if(values[x][fn] == '1'){
                                        rowcontent += "<td title='OFF'>"+'<i class="uk-icon-power-off red"></i>'+"</td>";
                                    }else if(values[x][fn] == '0'){
                                        rowcontent += "<td title='ON'>"+'<i class="uk-icon-power-off green"></i>'+"</td>";
                                    }
                                }
                            }     
                    }//for
                    rowcontent += "</tr>";
                    console.log("rowcontent :"+rowcontent);
                    siteinfo[sitecode] = colnames + rowcontent;
                }//for
                $("#table-row").html(siteinfo[sitecode]);
        }
}//end of render function

function tblclick (Siteid, IP, x, site_name)
{
    
    document.getElementById("hooter").style.display="block";
    var alerts = '<div>' +Siteid+ "," + site_name +'</div>';  
    $('#hooter-info').html(alerts);
    
      document.getElementById("search").style.display="none";
     //$("#actives"+x+"").removeClass("act");
      $(".uk-table tbody tr.act").removeClass("act");
      $("#actives"+x+"").addClass("act");
      $("#table-row").html(siteinfo[Siteid]);
      console.log(siteinfo[Siteid]);
      ipconfig.siteid=Siteid;
      ipconfig.sitename=site_name;
      ipconfig.ip_address=IP;
     
}

    var fnames;
    var values;
    var fields;
    var rowsperpageval;
    refreshing();
    var siteinfo = [];
   function tabledata(){    
        //console.log("TableData Function  Triggered");
        var dataCollection = {
            custid : $("#customer_id").val(),
            nextval : $("#nextval").val(),
            siteid : $("#siteid").val(),
            rowsperpageval: $("#rowsperpageval").val(),
            statusvalue: $("#statusvalue").val(),
            fromdate: $("#fromdate").val(),
            todate: $("#todate").val()
        }
        
        //console.log("nextttttt"+nextval);
        $.ajax({
            beforeSend: function(){
                $("#ajaxBusy").show();
            },
            url: '/live/getdata',
            type: 'POST',
            cache: false, 
            data: dataCollection,
            success: function(data){
                console.log("Data :"+JSON.stringify(data));
                render(data);     
            },error: function(jqXHR, textStatus, err){
                alert('text status '+textStatus+', err '+err);
                $("#ajaxBusy").hide();  
            },complete: function(jqXHR, textStatus, err){
                //console.log("completed Triggered");
                $("#ajaxBusy").hide();
            }
        });
    }


    function render(data){
        currentposition=data.currentposition;
        endposition=data.endposition;
        lastposition=data.lastposition;
        nextbuttonstatus=data.nextbuttonstatus;
        document.getElementById("nextval").value=data.nextpagevalue;
         
        fnames = "<table class='uk-table uk-table-striped uk-table-hover'><thead><th>Customer</th><th>TimeStamp</th><th>Site ID</th><th>Site Name</th><th>Site Address</th><th>IP</th>";
        fnames += "</thead>";
        fields = data.fieldnames;
        var colnames = "<tr style='color:#fff'>";
        for(var i=0;i<fields.length;i++){
                if(fields[i].alarmpin_no != 'HealtherrorCode'){
                    if((fields[i].alarmpin_no).match(/Do[0-9]/)){
                        colnames += "<th style='text-align:center; width:50px;' title='"+fields[i].alarmpin_name+"'>"+(fields[i].alarmpin_sc).toUpperCase()+"</th>";
                    }
                }            
        }
        colnames += "</tr>";
        

        var totalDatas = data.dataslength;
        if(totalDatas == "0"){
            fnames += "<tbody><tr><td colspan='6' align='center'>No Data Found</td></tr>";
        }else{
           // values ="0";
            values = data.datas;
            console.log("values=="+JSON.stringify(values));
            if(values != "0"){
                
                for(var x=0;x<values.length;x++){
                    var sitecode = values[x].Siteid;
                    var ipaddress = (values[x].IP).replace("::ffff:","");
                    fnames += "<tr id='actives"+x+"' onClick='tblclick("+'"'+values[x].Siteid+'",'+'"'+ipaddress+'",'+'"'+x+'",'+'"'+values[x].site_name+'"'+");'>";
                    
                    fnames += "<td>"+values[x].customer_name+"</td>";
                    console.log("record::"+values[x].RecordingTimeStamp);
                    fnames += "<td>"+moment(values[x].RecordingTimeStamp).format('DD-MM-YYYY HH:mm:ss')+"</td>";
                    fnames += "<td>"+values[x].Siteid+"</td>";
                    fnames += "<td>"+values[x].site_name+"</td>";
                    fnames += "<td>"+values[x].site_address+"</td>";
                    fnames += "<td>"+ipaddress+"</td>";
                    rowcontent="<tr>";
                    console.log("FL:"+fields.length);
                    for(var i=0;i<fields.length;i++){
                           var fn = fields[i].alarmpin_sc;
                           var fn1 = fields[i].alarmpin_no; 
                           if(fn1 != 'HealtherrorCode'){
                                if(fn1.match(/Do[0-9]/)){
                                    if(values[x][fn] == '1'){
                                        rowcontent += "<td title='OFF'>"+'<i class="uk-icon-power-off red"></i>'+"</td>";
                                    }else if(values[x][fn] == '0'){
                                        rowcontent += "<td title='ON'>"+'<i class="uk-icon-power-off green"></i>'+"</td>";
                                    }
                                }
                            }     
                    }//for
                    rowcontent += "</tr>";
                    console.log("rowcontent :"+rowcontent);
                    siteinfo[sitecode] = colnames + rowcontent;
                    /*fnames += "<td>"+(values[x].IP).replace("::ffff:","")+"</td>";*/
                    fnames +="</tr>";     
                }//for
            }
        }
        fnames+="</tbody></table>";
        document.getElementById("alarm-tbl").innerHTML=fnames;
        pagination();
       // $('ul li a.current').addClass('uk-active');   
    }//end of render function

 function pagination(){
            document.getElementById("navigation").innerHTML="";
            var rownumber=document.getElementById("rowsperpageval").value;
            var rowsShown = rownumber;
            rowsShown=parseInt(rowsShown);
            numberofrecords=100*(rowsShown/10);
            //console.log("rowsShown"+rowsShown);
            currentposition=parseInt(currentposition);
            var rowsTotal = $('#alarm-tbl tbody tr').length;
            //console.log("datas are:::"+rowsTotal)
            if(((currentposition*rowsShown)>numberofrecords) ){
                    $('#navigation').append('<li><a onclick="previousrecords()" style="display:block" id="previousid" ><span>Prev</span></a></li>');
                }
                if((currentposition*rowsShown)<=numberofrecords){
                    $('#navigation').append('<li ><a onclick="previousrecords()" style="display:none" id="previousid" ><span>Prev</span></a></li>');
                }
             if(endposition>1){
                for(currentposition;currentposition<=endposition;currentposition++) {
                        //console.log("appending");
                        var pagenum=currentposition-1;
                        $('#navigation').append('<li><a href="#" rel="'+pagenum+'">'+currentposition+'</a><li> ');
                    }

             }
             
             if((endposition<lastposition)|| nextbuttonstatus==1)
             {
             $('#navigation').append(' <li><a onclick="nextrecords()" style="display:block"><span>Next</span></a></li>');
            }
            if((endposition==lastposition) || nextbuttonstatus==0)
             {
             $('#navigation').append(' <li><a onclick="nextrecords()" style="display:none"><span>Next</span></a></li>');
            }
                $('#alarm-tbl tbody tr').hide();
                $('#alarm-tbl tbody tr').slice(0, rowsShown).show();
                $('#navigation a:first').addClass('active');
                $('#navigation a').bind('click', function(){
                $('#navigation a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                //console.log("currentpagepos"+currPage);
                    if(currPage>10){
                        var divval=Math.floor(currPage/10,0);
                        console.log("divval"+divval);
                        var num=currPage%(10*divval);
                        console.log("remainder vvalue"+num);
                        currPage=num;
                        if(num==0){
                            currPage=10;
                        }
                        console.log("currPage"+currPage);
                    }
                    if(currPage==10){
                        currPage=0;
                    }

                    var startItem = currPage * rowsShown;
                    var endItem = startItem + rowsShown;
                //console.log("startItem"+startItem+"endItem"+endItem);
                $('#alarm-tbl tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                                    css('display','table-row').animate({opacity:1}, 300);
                });
    }

    $("#rowsperpageval").change(function(){
        statuschange();
        tabledata();
    })

    function previousrecords(){
        document.getElementById("statusvalue").value=1;
        tabledata();
    }
    function nextrecords(){
        var nextval=document.getElementById("nextval").value;
        var nextvalue=parseInt(nextval);
        document.getElementById("nextval").value=nextvalue+numberofrecords;
        document.getElementById("statusvalue").value=0;
        tabledata();
    }

    function statuschange(){
        document.getElementById("statusvalue").value=2;
    }
    $("#customer_id").change(function(){
        init();
        changeSite();
        statuschange();
        tabledata();
    })
    $("#searchbtn1").click(function(){
        statuschange();
        tabledata();
    })
    
    function refreshPage(){

        window.location.href="/controller";
    }
    function init(){
        $.ajax({
            beforeSend: function(){
               
            },
            url: '/common/alarmpin',
            type: 'post',
            cache: false, 
            data:{customer_id:$("#customer_id").val()},
            success: function(data){
                
                var options = '<option value="">--Select Alarm--</option>';
                for (var i = 0; i < data.custdata.length; i++) {
                    
                          options += '<option value="' + data.custdata[i].curl_cmd + '" selected>' + data.custdata[i].alarmpin_sc + '</option>';
                   
                }
              console.log("options :"+options);
              $("#cmbalarm").html(options);    
            },error: function(jqXHR, textStatus, err){
                alert('text status '+textStatus+', err '+err);
                
            },complete: function(jqXHR, textStatus, err){
               
            }
        });
    }
</script>
<!--Start Script-->


</body>
</html>
