<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title></title>

<link rel="stylesheet" href="/css/main.min.css" media="all">
<link rel="stylesheet" href="/uikit/css/uikit.almost-flat.min.css" media="all">
<link rel="stylesheet" href="/icons/flags/flags.min.css" media="all">
<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" media="all" />

<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
