<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
    <script>
        $(document).ready(function(){
            $("#search").hide();

            $(".searchbtn").click(function(){
                $("#search").toggle();
            });
        });
    </script>
</head>

<body class="sidebar_main_open sidebar_main_swipe">
    <!--Top Header-->
    <% include ../../partials/mainheader %>
    <!--Top Header-->
    <% include ../../partials/sidemenu %>
    
    <!--Start Content-->
    <div id="page_content">
    <div id="page_content_inner">
        <div class="searchbtn"><i class="uk-icon-search"></i></div>
        <div class="dwnbtn"><i class="uk-icon-download padright"></i></div>
        <!--Dashboard-->
        <h3 class="heading_b uk-margin-bottom">Trouble Tickets</h3>
        <!--End Dashboard-->
        <div class="md-card" id="search">
        <div class="md-card-content">
            <div class="uk-grid uk-dropdown-grid">
                <div class="uk-width-1-4">
                    <input type="text" class="md-input md-input-success" placeholder="ID">
                </div>
                <div class="uk-width-1-4">
                    <input type="text" class="md-input md-input-success" placeholder="Ticket">
                </div>
                <div class="uk-width-1-4">
                    <input type="text" class="md-input md-input-success" placeholder="Reported By">
                </div>
                <div class="uk-width-1-4">
                    <input type="text" class="md-input md-input-success" placeholder="Assigned By">
                </div>
            </div>  
        </div>
        </div>

        <!--Escalation Numbers-->                                         
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                            <li class="uk-active"><a href="#">All</a></li>
                            <li><a href="#">All Open</a></li>
                            <li><a href="#">My Open</a></li>
                            <li><a href="#">New</a></li>
                            <li><a href="#">Active</a></li>
                            <li><a href="#">Pending</a></li>
                            <li><a href="#">Closed</a></li>
                        </ul>
                        <ul id="tabs_1" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                                <tr>
                                                    <td>001</td>
                                                    <td>153256</td>
                                                    <td>Null</td>
                                                    <td>Null By</td>
                                                    <td>Null To</td>
                                                    <td>Null</td>
                                                    <td>Null</td>
                                                    <td>Null</td>
                                                </tr>
                                                <tr>
                                                    <td>001</td>
                                                    <td>153256</td>
                                                    <td>Null</td>
                                                    <td>Null By</td>
                                                    <td>Null To</td>
                                                    <td>Null</td>
                                                    <td>Null</td>
                                                    <td>Null</td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                       <table class="uk-table uk-table-striped">
                                            <thead>
                                                <tr>
                                                <th><strong>ID</strong></th>
                                                <th><strong>Ticket</strong></th>
                                                <th><strong>Updated</strong></th>
                                                <th><strong>Reported By</strong></th>
                                                <th><strong>Assigned To</strong></th>
                                                <th><strong>State</strong></th>
                                                <th><strong>Priority</strong></th>
                                                <th><strong>Updates</strong></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                            <tr>
                                                <td>001</td>
                                                <td>153256</td>
                                                <td>Null</td>
                                                <td>Null By</td>
                                                <td>Null To</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                                <td>Null</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!--End Escalation Numbers--> 

    </div>
    </div>
<!--End Content--> 

<!--Start Script-->
<script src="/moment/min/moment.min.js"></script>
<script src="/js/common.min.js"></script>
<script src="/js/uikit_custom.min.js"></script>
<script src="/js/altair_admin_common.min.js"></script>

</body>
</html>