<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<% include ../../partials/head %>
</head>

<body class="sidebar_main_open sidebar_main_swipe">
<!--Top Header-->
<% include ../../partials/mainheader %>
<!--Top Header-->
<% include ../../partials/sidemenu %>

<div id="page_content">
    <div id="page_content_inner">
    <div class="uk-grid">
        <div class="uk-width-1-4" style="position: relative;">
               <img src="/img/img1.jpg">
               <div class="hoverreveal" style="position: absolute; top: 40%;left: 22%;">
                   <div data-uk-button-radio>
                       <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                       <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                       <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                   </div>
               </div>
        </div>
        <div class="uk-width-1-4"style="position: relative;">
            <img src="/img/img2.jpg">
            <div class="hoverreveal">
                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>
            </div>
        </div>

        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img1.jpg">
            <div class="hoverreveal">
                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>
            </div>
        </div>

        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img2.jpg">
            <div class="hoverreveal">
                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid">
        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img1.jpg">

            <div class="hoverreveal">

                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>
            </div>
        </div>

        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img2.jpg">

            <div class="hoverreveal">

                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>

            </div>

        </div>


        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img1.jpg">


            <div class="hoverreveal">

                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>

            </div>

        </div>

        <div class="uk-width-1-4" style="position: relative;">
            <img src="/img/img2.jpg">
            <div class="hoverreveal">

                <div style="position: absolute;z-index: 1000;top: 40%;left: 26%;">
                    <button class="md-btn md-btn-primary"><i class="uk-icon-large uk-icon-check-circle"></i></button>
                    <button class="md-btn md-btn-warning"><i class="uk-icon-large uk-icon-times-circle"></i></button>
                    <button class="md-btn md-btn-danger"><i class="uk-icon-large uk-icon-exclamation"></i></button>
                </div>

            </div>
        </div>

    </div>
</div>
</div>






<% include ../../partials/footer %>
</body>
</html>


